<!DOCTYPE html>
<html>

<head>
    <script type="text/javascript" src="/js/app.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>title here</title>
    <link rel='stylesheet' href='/css/styles.css' />
</head>

<body>
    <div class="div-center">
        <img src="/img/logo.png"/>
        <h3>
            Please login again with valid credentials.
        </h3>
        <button class="startButton" onclick="window.location='/'">
            go to home page
        </button>
    </div>
</body>

</html>