<!DOCTYPE html>
<html>

<head>
    <script type="text/javascript">window.history.pushState({}, document.title, "/");</script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>angular express template</title>
    <link rel='stylesheet' href='/css/styles.css' />
</head>

<body>
    <div class="div-center">
        <img src="/img/logo.png"/>
        <h1>
        Oooops we have an error
    </h1>
    <h3>
        Please contact ALS support team if the error persist.
    </h3>
        <button class="startButton" onclick="window.location='/'">
            go to home page
        </button>
        <!-- <h1>{{message}}</h1>
<h2>{{error.status}}</h2>
<pre>{{error.stack}}</pre> -->
    </div>
</body>

</html>