<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Template</title>
    <link rel='stylesheet' href='/css/styles.css' />
</head>

<body>
    <div class="div-center">
        <img class="logo" src="/img/logo.png" />
        <br>
        This is a generic logo, please change the logo and slogan
        <br>
        <br>
        <button onclick="redirect('{{url}}')" class="startButton">
            start
        </button>
    </div>
    <script async type="text/javascript" src="/js/app.js"></script>
</body>

</html>