<!DOCTYPE html>
<html>

<head>
    <script type="text/javascript">window.history.pushState({}, document.title, "/");</script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>angular express template</title>
    <link rel='stylesheet' href='/css/styles.css' />
</head>

<body>
    <div class="div-center-wide">
        <img src="/img/logo.png"/>
        <h1>
            Oooopps !!!!
        </h1>
    <br/>

    this is an error page, this error is not related to the application itself, is related to ping authentication
    if the problem continues please create a ticket in Service Now reporting this problem
    info:
     error 401 getting the access token from ping server
     <br/>
     <br/>
        
        <button class="startButton" onclick="window.location='/'">
            go to home page
        </button>
    </div>
</body>

</html>